.git
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
tests
.phpunit.cache
.phpunit.result.cache
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
!bootstrap/cache/.gitignore
public/hot
public/build
*.md
docker-compose*.yml
Dockerfile
.idea
.vscode
